@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao @Model.nome</h1>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <button type="button" class="btn btn-primary btn-lg">Veja as Novas Curiosidades</button>
        </div>
        <div class="row justify-content-center mt-3">
            <button type="button" class="btn btn-primary btn-lg">Seja um Membro do nosso Site</button>
        </div>
        <div class="row justify-content-center mt-3">
            <button type="button" class="btn btn-primary btn-lg">Avalie as Curiosidades dos nossos Membros</button>
        </div>
       
    </div>
</div>


