@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Connections"] = "500 gamers";
    int index = 0;
    string active;
}

<div class="text-center">
    <h1>
        Bem-vindo ao @Model.nome
        <br />
        Confira nossas novidades
    </h1>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.listaNoticias.Count; i++)
            {
                @if(i==0)
                {
                    active = "active";
                }
                else
                {
                    active = "";
                }

                <li data-target="#carouselExampleIndicators" data-slide-to=@i class=@active></li>
            }
        </ol>
        <div class="carousel-inner">
            @foreach (Noticia item in Model.listaNoticias)
            {
                @if (index == 0)
                {
                    active = "active";
                }
                else
                {
                    active = "";
                }

                <div class="carousel-item @active">
                    <img class="img-fluid w-70" src=@item.imagem alt="slide @index">
                </div>

                index++;
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>
