@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao @Model.nome</h1>

    <div class="row justify-content-center my-3">
        <button type="button" class="btn btn-primary btn-lg">Menu 1</button>
    </div>

    <div class="row justify-content-center my-3">
        <button type="button" class="btn btn-primary btn-lg">Menu 2</button>
    </div>

    <div class="row justify-content-center my-3">
        <button type="button" class="btn btn-primary btn-lg">Menu 3</button>
    </div>

</div>
