@page
@model proj01.Pages.NoticiasModel
@{
     ViewData["Title"] = "News page";
}

<div class="row">

@foreach(Noticia item in Model.lista)
{
    <div class="col-4 text-center">
        <div class="row justify-content-center p-3">
            <a href="#">
                <h3>@item.titulo</h3>
                <img class="img-thumbnail" src=@item.imagem />
            </a>
        </div>
    </div>
}

</div>



