@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="row justify-content-center">
        <h1 class="display-4">
            Confira os nossos melhores locais
            <br />
            do
            <br />
            @Model.nomeWeb
        </h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-3 push-bottom">
            <a href="/?id=@Model.antId" >
                <img class="img-thumbnail w-100" src=@Model.locais[Model.antId].imagem />
            </a>
        </div>
        <div class="col-6">
            <img class="img-fluid w-100" src=@Model.localSelecionado.imagem />
        </div>
        <div class="col-3 push-bottom">
            <a href="/?id=@Model.proxId" >
                <img class="img-thumbnail w-100" src=@Model.locais[Model.proxId].imagem />
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        <p>Descrição: @Model.localSelecionado.descricao</p>
    </div>

    <div class="row justify-content-center">
        <p>@Model.localSelecionado.nome - @Model.localSelecionado.pais</p>
    </div>

    <div class="row justify-content-center">
        <a href="/LocalDetail?id=@Model.localSelecionado.id">
            <button type="button" class="btn btn-primary">Ver Mais</button>
        </a>
    </div>

</div>





