@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo @Model.nomeWeb</h1>

    <div class="container">
        <div class="row justify-content-center">
            <button type="button" class="my-2 btn btn-primary btn-lg">Ver Locais</button>
        </div>

        <div class="row justify-content-center">
            <button type="button" class="my-2 btn btn-primary btn-lg">Adiciona um Novo Local</button>
        </div>

        <div class="row justify-content-center">
            <button type="button" class="my-2 btn btn-primary btn-lg">Revise novos locais</button>
        </div>
        
        
        
    </div>
    
</div>
