@page
@model LocaisModel
@{
    ViewData["Title"] = "List Page";
}

<div class="row">
@foreach (Local local in Model.list) //Lista deve retornar apenas 15 itens NO MAXIMO
{
    <div class="col-4 p-2">
        <a class="row" href="/LocalDetail">
            <div class="col-6">
                <img class="img-thumbnail" src=@local.imagem />
            </div>
            <div class="col-6">
                <h5>@local.nome</h5>
                <h6>@local.pais - @local.cidade</h6>
                <div class="btn btn-primary justify-content-center mt-2">Ver Mais</div>
            </div>
            
        </a>
    </div>
}
</div>

